html,
body{
   margin: 0;
   font-family: 'Poppins', sans-serif;
   background-color:rgb(210, 246, 255);
}
#container div,#container h2{
    display:flex;
    justify-content: center;
}
h2{
    color:#a7f6ff;
    letter-spacing: 1px;
    font-size: 30px;
}
textarea{
    border-radius: 5px;
    border: 2px solid rgb(139, 202, 229) ;
    margin-top:8px;
    height:3 rem;
    width:250px;
    padding-left:10px;
    font-size: 15px;
}
input:active{
    border:none;
}
#container{
    height:500px;
    width:400px;
    margin:200px auto;
    background-color:#262e77;
    border-radius:10px;
    padding:30px;
    border: 2px solid rgb(139, 202, 229);
}
button{
    margin-top:30px;
    background-color:#a7f6ff;
    border-radius: 4px;
    height: 44px;
    font-weight: 800;
    font-size: 17px;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: #102770;
}
button:hover{
    cursor:pointer;
}
#result{
    color:white;
    margin-top:35px;
    font-size:32px;
}